@media only screen and (max-width: 800px){

    .sectionImgCompassUOL{
        display: none;
    }

    .sectionLogin{
        --padding-horizontal: calc((100vw - 382px) / 2);
        --padding-vertical: calc((100vh - 550px) / 2);

        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        background-image: linear-gradient(#2E2F36, #17181C);
        height: 100vh;
        padding: var(--padding-vertical) var(--padding-horizontal);   

    }
    
    .sectionLogin h1, .sectionLogin h2, .sectionLogin h4, .sectionLogin h6{
        margin: 0;
        align-self: flex-start;
        color: var(--cor-entrada-usuario);
    }

    .sectionLogin h1{
        font-weight: 500;
        font-size: 64px;
    }

    .sectionLogin h2{
        font-weight: 400;
        font-size: 32px;
    }

    .sectionLogin h4{
        font-weight: 400;
        font-size: 20px;
    }

    .sectionLogin h6{
        align-self: center;
        font-weight: 400;
        font-size: 16px;
    }

    .sectionLogin h6 span{
        align-self: center;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
    }

    .linkRegistro{
        align-self: center;
        font-weight: 600;
        font-size: 16px;
        text-decoration-line:none;
    }

    .linkRegistro:visited{
        color: #FFFFFF;
    }


    .sectionLoginMsgErro{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #E9B425;
        text-align: center;
        padding: 0 60px;
    }

}

@media only screen and (min-width: 800px){

    .sectionLoginImagem{
        display: flex;
    }
    
    .sectionLogin{
        --padding-horizontal: calc((50vw - 382px) / 2);
        --padding-vertical: calc((100vh - 550px) / 2);

        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        background-image: linear-gradient(#2E2F36, #17181C);
        width: 50vw;
        height: 100vh;
        padding: var(--padding-vertical) var(--padding-horizontal);      
    }

    .sectionLogin h1, .sectionLogin h2, .sectionLogin h4, .sectionLogin h6{
        margin: 0;
        align-self: flex-start;
        color: var(--cor-entrada-usuario);
    }

    .sectionLogin h1{
        font-weight: 500;
        font-size: 64px;
    }

    .sectionLogin h2{
        font-weight: 400;
        font-size: 32px;
    }

    .sectionLogin h4{
        font-weight: 400;
        font-size: 20px;
    }

    .sectionLogin h6{
        align-self: center;
        font-weight: 400;
        font-size: 16px;
    }

    /*.sectionLogin h6 span{
        align-self: center;
        font-weight: 600;
        font-size: 16px;
        text-decoration-color: blue;
    }*/

    .sectionImgCompassUOL{
        display: flex;
        justify-content: center;
        width: 50vw;
        height: 100vh;
    }

    .imagemCompassUOL{
        width: 50vw;
        height: 100vh;
        object-fit: cover;
    }

    .logoCompassUOL{
        position: fixed;
    }

    .linkRegistro{
        align-self: center;
        font-weight: 600;
        font-size: 16px;
        text-decoration-line:none;
    }

    .linkRegistro:visited{
        color: #FFFFFF;
    }

    .sectionLoginMsgErro{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #E9B425;
        text-align: center;
        padding: 0 60px;
    }

}